parameters:
    level: 5

    paths:
        - app

    ignoreErrors:
        - '#Call to an undefined static method App\\Models\\.*::.*#'

        - '#Access to an undefined property App\\Models\\Booking::\$.*#'

        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Relations\\.*::with\(\)#'

        - '#Parameter \#1 \$user of method .* expects App\\Models\\User, Illuminate\\Contracts\\Auth\\Authenticatable\|null given#'
